@import "variable";
video{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}
div[data-ui-view=""]{
  position: relative;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
}
.fullpage{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  & .inner-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & .main-logo{
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color: white;
      text-transform: uppercase;
      font-size: 4em;
      font-weight: bold;
    }
  }
}
.model-title{
  text-align: center;
  position: relative;
  font-weight: 500;
  font-size: 18px;
}
.step{
  position: relative;
  width: 50px;
  height: 4px;
  background-color: black;
  margin-left: 1em;
  cursor: pointer;
  &.current{
    background-color: $primary;
  }
  &.active{
    background-color: #4CAF50;
  }
  &:focus, &:active {
    outline: 0;
  }
}