<div>
    <!--<div class="step-tracker" layout="row" layout-align="center center" layout-padding layout-margin>
       <div ng-class="{'active': state.done, 'current': state.name===currentState }"
            ng-repeat="state in states"
            class="step"
            ng-click="toState(state)"   >
           <md-tooltip md-direction="button">
               {{state.name | uppercase}}
           </md-tooltip>
       </div>
    </div>
    -->



    <div ui-view="design" id="design"></div>
    <md-button class="md-fab md-primary md-mini preview-button"  aria-label="Preview" ng-click="showPreviewDialog($event)">
        <md-tooltip md-direction="top">
            Preview
        </md-tooltip>
        <i class="material-icons ">remove_red_eye</i>
    </md-button>
    <md-button class="md-fab md-accent md-mini package-button"  aria-label="Toggle Package"
               ng-click="togglePackage($event)" ng-if="client.package !== null">
        <md-tooltip md-direction="top">
            Change Package
        </md-tooltip>
        <i class="material-icons">toys</i>
    </md-button>
    <div layout="row"  layout-align="center center" layout-padding layout-margin>
        <div layout="row" layout-align="center center" layout-padding layout-margin ng-class="{'shrinked': !showMain}" class="main-menu" ngf->
            <div class="button-step">
                <md-button class="md-fab md-mini" aria-label="FAB" ui-sref="design.questionnaire">
                    <i class="material-icons">keyboard_arrow_right</i>
                </md-button>
            </div>
            <div class="button-step">
                <md-button class="md-fab md-mini" aria-label="FAB" ui-sref="design.model">
                    <i class="material-icons">keyboard_arrow_right</i>
                </md-button>
            </div>
            <div class="button-step">
                <md-button class="md-fab md-mini" aria-label="FAB" ui-sref="design.exterior">
                    <i class="material-icons">keyboard_arrow_right</i>
                </md-button>
            </div>
            <div class="button-step">
                <md-button class="md-fab md-mini" aria-label="FAB" ui-sref="design.style">
                    <i class="material-icons">keyboard_arrow_right</i>
                </md-button>
            </div>
        </div>
        <div layout="row" style="z-index: 100"  layout-align="center center" layout-padding layout-margin ng-class="{'shrinked': showMain}" class="step-menu">
            <div class="config-step" ng-repeat="state in states"  ng-click="toState(state)">
                <i class="material-icons">panorama_fish_eye</i>
                <md-tooltip md-direction="button">
                    {{state.name | uppercase}}
                </md-tooltip>
            </div>

        </div>
        <div style="z-index: 100">
            <div class="control-menu">
                <a ng-click="toggleMenu()">Advance</a>
            </div>
        </div>
    </div>
</div>