<div>
    <ul class="process-tracker">
        <li ui-sref-active="active">
            <a ui-sref="design.general">
                <div></div>
                <div class="circle"></div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="design.wall">
                <div></div>
                <div class="circle"></div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="design.insideRoof">
                <div></div>
                <div class="circle"></div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="design.floor">
                <div></div>
                <div class="circle"></div>
            </a>
        </li>
    </ul>
    <div ui-view="design"></div>
</div>