<div class="margin-top">
    <md-content layout-align="center center" layout="column">
        <md-content class="questionnaire-box">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    How many people supposed to be in the new house?
                </div>
            </md-toolbar>
            <md-radio-group ng-model="questionnaire.familySize">
                <md-radio-button value="1" >Only Me</md-radio-button>
                <md-radio-button value="small"> A small family </md-radio-button>
                <md-radio-button value="medium">A normal and medium size family</md-radio-button>
                <md-radio-button value="large">A large family</md-radio-button>
            </md-radio-group>
        </md-content>

        <md-content class="questionnaire-box">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    How many people supposed to be in the new house?
                </div>
            </md-toolbar>
            <md-radio-group ng-model="questionnaire.familySize">
                <md-radio-button value="1" >Only Me</md-radio-button>
                <md-radio-button value="small"> A small family </md-radio-button>
                <md-radio-button value="medium">A normal and medium size family</md-radio-button>
                <md-radio-button value="large">A large family</md-radio-button>
            </md-radio-group>
        </md-content>
        <md-button ui-sref="design.model">Next</md-button>
    </md-content>
</div>
