<div class="design-content">
    <!--
    <div class="slide-container" ng-style="{'width': colors.length*100+'vw', 'transform': 'translateX(-'+indexExterior*100+'vw)'}">
        <div class="image-container" ng-repeat="exteriorImage in exteriorImages">
            <img ng-src="{{exteriorImage}}"/>
        </div>
    </div>
    <div class="setting-tools" layout="row" layout-align="start center" layout-margin layout-padding>
        <div>
            <small class="pull-right" ng-click="toggleAdvance()">Advance</small>
            <div class="title">Exterior</div>
            <div layout="row" layout-align="start center">
                <div ng-repeat="color in colors" ng-click="setColor(color)" class="material-set" ng-style="{'background-color': color.code}">
                    <md-tooltip md-direction="top">
                        {{color.name | uppercase}}
                    </md-tooltip>
                </div>
            </div>
            <div layout="row" layout-align="start center" ng-show="isAdvance" layout-margin>
                <div ng-repeat="color in advanceColors" ng-click="setColor(color)" class="material-set" ng-style="{'background-color': color.code}">
                    <md-tooltip md-direction="top">
                        {{color.name | uppercase}}
                    </md-tooltip>
                </div>
            </div>
        </div>
        <div>
            <small class="pull-right">Advance</small>
            <div class="title">Wall</div>
            <div layout="row" layout-align="start center">
                <div ng-repeat="color in colors" ng-click="setColor(color)" class="material-set" ng-style="{'background-color': color.code}">
                    <md-tooltip md-direction="top">
                        {{color.name | uppercase}}
                    </md-tooltip>
                </div>
            </div>
        </div>
    </div>
    <div class="selected-choice" ng-if="selectedColor !== null">
        You've chosen {{selectedColor.name}}
    </div>
    <md-button class="md-raised md-primary" ng-click="setExterior($event)">
        Next
    </md-button>
    --->
    <div class="image-container">
        <img ng-src="{{exteriorImage}}">
    </div>
    <div class="setting-tools">
        <div layout="row" layout-align="start center">
            <div ng-repeat="color in colors" ng-click="setColor(color)" class="material-set" ng-style="{'background-color': color}">
                <md-tooltip md-direction="top">
                    {{color | uppercase}}
                </md-tooltip>
            </div>
        </div>
    </div>
</div>